.activity-log {
    margin-top: 20px;
}

.activity-log h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    table-layout: fixed; 
}

th, td {
    padding: 12px;
    text-align: left;
    font-weight: 400;
    width: auto; 
}

th {
    border: 1px solid #c9caca;
    font-weight: 600;
    text-align: center; 
}

tr.selected {
    background: lightgray;
}