<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="../assets/whitebyte.png" alt="RMS Logo" class="logo">
            <h2>BYTEBISTRO</h2>

            <form id="loginForm">
            <!-- <form id="loginForm" method="post" action="/login"> -->
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
                <p class="error-message" id="errorMessage">Invalid username or password</p>
            </form>

        </div>
    </div>

    <script>
        const loginForm = document.getElementById('loginForm');
    
        loginForm.addEventListener('submit', async (e) => {
            e.preventDefault();
    
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const errorMessage = document.getElementById('errorMessage');
    
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            });
            const data = await response.json();
    
            if (data.success) {
                window.location.href = '/dashboard';
            } else {
                errorMessage.style.display = 'block';
            }
        });
    </script>
</body>
</html>